@page "/application-roles"
@attribute [Authorize]

<PageTitle>Roles</PageTitle>
<div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center" style="margin-bottom: 1rem">
        <RadzenText Text="Roles" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddClick" Variant="Variant.Flat" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot delete role" Visible="@errorVisible">@error</RadzenAlert>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@roles" TItem="SimplyMTD.Models.ApplicationRole">
            <Columns>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.ApplicationRole" Property="Name" Title="Name" />
                <RadzenDataGridColumn TItem="SimplyMTD.Models.ApplicationRole" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                    <Template Context="role">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small"
                            Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => DeleteClick(role))" @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
