@page "/view-client"

<PageTitle>Edit UserDetail</PageTitle>
<div  class="row">
    <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)" />
    </div>
    <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CancelButtonClick" />
    </div>
</div>
<div  class="row">
    <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges" />
    </div>
    <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@ReloadButtonClick" />
    </div>
</div>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save UserDetail</RadzenAlert>
        <RadzenTemplateForm TItem="SimplyMTD.Models.MTD.UserDetail" Data="@userDetail" Visible="@(userDetail != null && canEdit)" Submit="@FormSubmit">
		<div class="row">
			<div class="col-md-6">
				<div style="margin-bottom: 1rem" class="row">
					<div class="col-md-5">
						<RadzenLabel Text="Client ID" Component="Id" style="width: 100%" />
					</div>
					<div class="col-md-7">
						<RadzenText style="display: block; width: 100%">@(userDetail.ClientId.ToString())</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="Business Name" Component="BusinessName" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.BusinessName)</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="Business Type" Component="BusinessType" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.BusinessType)</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="Owner Name" Component="OwnerName" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.OwnerName)</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="Address Line 1" Component="Address" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.Address)</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="Address Line 2" Component="Address2" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.Address2)</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="Post Code" Component="PostCode" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.PostCode)</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="Mobile" Component="PhoneNumber" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.PhoneNumber)</RadzenText>
						</div>
					</div>

					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="VAT Number" Component="Vrn" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.Vrn)</RadzenText>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenLabel Text="MTD Authorisation" Component="Id" style="width: 100%" />
						</div>
						<div class="col-md-7">
							<RadzenText style="display: block; width: 100%">@(userDetail.Vrn)</RadzenText>
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-5">
							<RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="send" Text="Send Request" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
						</div>
						<div class="col-md-7">
							<RadzenButton ButtonStyle="Radzen.ButtonStyle.Secondary" ButtonType="ButtonType.Submit" Icon="cancel_schedule_send" Text="Cancel Request" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
						</div>
					</div>

					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-6">
							<RadzenLabel Text="Software Subscription" Component="Id" style="width: 100%" />
						</div>
						<div class="col-md-6">
							<RadzenText style="display: block; width: 100%">@(userDetail.Vrn)</RadzenText>
						</div>
					</div>

					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-6">
							<RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="perm_identity" Text="Inform Client" Style="margin-right: 0.5rem" Variant="Variant.Flat" Click="@InformClient" />
						</div>

					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-6">
							<RadzenLabel Text="Staff Allocation" Component="Id" style="width: 100%" />
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-6">
							<RadzenLabel Text="Partner" Component="Id" style="width: 100%" />
						</div>
						<div class="col-md-6">
						</div>
					</div>
					<div style="margin-bottom: 1rem" class="row">
						<div class="col-md-6">
							<RadzenLabel Text="Manager" Component="Id" style="width: 100%" />
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

