
<PageTitle>Reset password</PageTitle>
<div class="row">
    <div class="col-md-12">
        <RadzenTemplateForm Data="@user" TItem="SimplyMTD.Models.ApplicationUser"
            Visible="@(user != null)" Submit="@FormSubmit">
            <RadzenAlert Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@errorVisible">@error</RadzenAlert>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-4">
                    <RadzenLabel Component="userName" style="width: 100%" Text="Email" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(user.Email)"
                        Name="UserName" />
                    <RadzenRequiredValidator Component="UserName" Text="Email is required" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Reset" IsBusy="@isBusy" BusyText="Resetting ..." Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@CancelClick" Variant="Variant.Flat" Style="margin-left: 0.5rem" />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>
</div>
