@page "/clients"

<PageTitle>UserDetails</PageTitle>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12 col-md-6">
        <RadzenText Text="UserDetails" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
    </div>
    <div class="col-12 col-md-6 justify-content-start justify-content-md-end" style="display: flex; align-items: center; flex-wrap: wrap; gap: 0.5rem">
    <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@ExportClick" Variant="Variant.Flat" Shade="Shade.Lighter">
        <RadzenSplitButtonItem Text="Excel" Value="xlsx" />
        <RadzenSplitButtonItem Text="CSV" Value="csv" />
    </RadzenSplitButton>
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
    </div>
</div>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12">
        <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"  AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
            Data="@userDetails"    TItem="SimplyMTD.Models.MTD.UserDetail" RowDoubleClick="@EditRow" >
            <Columns>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.MTD.UserDetail" Property="ClientId" Title="ID">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.MTD.UserDetail" Property="OwnerName" Title="Client Name">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.MTD.UserDetail" Property="Vrn" Title="VAT Number">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.MTD.UserDetail" Property="Start" Title="Next VAT Start">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.MTD.UserDetail" Property="End" Title="Next VAT End">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.MTD.UserDetail" Property="Deadline" Title="Deadline">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SimplyMTD.Models.MTD.UserDetail" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="userDetail">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, userDetail)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
